* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.highlighted-text {
    color: var(--primary-color);
    font-weight: 550;
}

.header-nav {
    height: 5rem;
    box-shadow: 7px 3px 10px var(--secondary-color);
    background-color: var(--bg-color);
}

.navigation {
    list-style: none;
    flex: 1;
}

.navbar-left {
    justify-content: flex-start;
    margin-left: 1rem;
}

.navbar-right {
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-pill {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.1rem;
    margin-right: 1rem;
}

.account-icon{
    margin-left:1rem;
    margin-right: 2rem;
}

.cart-icon{
    margin-left: 1rem;
}

.search-bar {
    width: 18rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 4rem;
}

::placeholder {
    padding-left: 0.5rem;
}

.home-main {
    display: flex;
}

.welcome-text {
    font-size: 1.2rem;
    max-width: 60ch;
}

.line-height {
    line-height: 1.7rem;
    margin: 1rem;
}

.product-suggestion {
    width: 37rem;
    height: 11rem;
    background-color: var(--bg-color);
    margin: 0.5rem;
    cursor: pointer;
}

.suggestion-info {
    font-size: 1.2rem;
}

.suggestion-text {
    margin-left: 1rem;
}

.product-suggestion-image {
    max-width: 8rem;
    padding: 1rem;
}

.active-link {
    color: var(--primary-color);
    font-weight: 550;
}

.navbar-left .nav-pill:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-right .nav-pill:hover {
    font-size: 1.5rem;
}

.aligned-icon{
    right: 1.8rem;
    bottom: 1.8rem;
    display: inline;
}

.outline-btn{
    font-size: 1.1rem;
    margin-left: 1rem;
}

.sidebar-nav-link:hover{
    font-size: 1.1rem;
}

.nav-pill{
    cursor: pointer;
}