:root {
    --cart-bg-color: #f3f4f6;
}

body {
    background-color: var(--cart-bg-color);
}

.product-main-container {
    display: flex;
<<<<<<< Updated upstream
=======
    flex-wrap: wrap;
>>>>>>> Stashed changes
    margin-left: 10rem;
}

.bold{
    font-weight: 600;
}

.heading-text{
    margin: 2rem;
}