:root {
    --body-bg-color: #F3F3F3;
    --page-bg-color: white;
    --gray-color: gray;
}

.flex-page {
    display: flex;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-2-right {
    margin-right: 2rem;
}

.margin-2-left {
    margin-left: 2rem;
}

.hide{
    visibility: hidden;
}

.filters {
    width: 18rem;
}

.black{
    color: var(--black-color);
}

.products {
    background-color: var(--body-bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.clear-link {
    color: var(--black-color);
}

.clear-link:hover{
    color : var(--primary-color);
    font-size: 1.1rem;
    cursor:pointer
}

.input-label1 {
    margin-right: 4.6rem;
}

.input-label2 {
    margin-right: 3.5rem;
    position: relative;
    bottom: 2.5px;
}

.badge{
    bottom: 16rem;
    margin: -1rem;
    font-size: 1rem;
}

.rating {
    /* margin: 0.5rem 0rem; */
}

.add-to-cart-btn:hover{
    cursor: pointer;
}

.primary-bg {
    background-color: var(--primary-color);
}

.product-img{
    width: 10rem;
    height: 10.8rem;
}

input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    min-width: 10rem;
    background: var(--gray-color);
    border: none;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--gray-color);
    margin-top: -6px;
}

input[type="checkbox"] {
    zoom: 1.5;
}

.price-input {
    width: 12rem;
    margin-left: 0.9rem;
}

/* .margin{
    margin: 0rem 1rem 1rem 1rem;
} */

#ratings , #range-input {
    border: none;
}

.snackbar{
    background-color: var(--body-bg-color);
    position: fixed;
    bottom: 1px;
    right: 1px;
}

.snackbar-cross-icon{
    cursor: pointer;
    color: var(--gray-color);
}

.snackbar-text{
    background: linear-gradient(270deg , #3f5efb , #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-to-cart-btn {
    background: transparent;
    color: #1d4ed8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 15px 30px 25px 30px;
    perspective: 30rem;
    border-radius: 5px;
}
  
  .add-to-cart-btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 100, 600, 0.678), rgba(128, 0, 128, 0.200));
    z-index: 1;
    transition: background 3s;
  }
  
  .add-to-cart-btn:hover::before {
    animation: rotate 1.5s;
    transition: all .5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }

  .mt1{
    margin-top: 2rem;
  }